{{> header}}
{{> navbar}}
    <h1>Algunos de mis pintores favoritos</h1>
    <p>Vincent van Gogh</p>
    <p>Frida Kahlo</p>
    <p>Leonardo da Vinci</p>
    <img src="/fridaindex.jpg">
    <img src="/vanindex.jpg">
    <img src="/vinciindex.jpg">
</main>
{{> footer}}
