{{> header}}
{{> navbar}}
<h1>Leonardo da Vinci</h1>
    <div><img style="float: left;" src="vincibiografia.jpg" alt=""
        width="300" height="300">
        <p>Leonardo da Vinci (Leonardo di ser Piero da Vinci) (Vinci, 15 de abril de 1452-Amboise, 2 de mayo de 1519) fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista. Murió acompañado de Francesco Melzi,  a quien legó sus proyectos, diseños y pinturas.  Tras pasar su infancia en su ciudad natal, Leonardo estudió con el pintor florentino Andrea de Verrocchio. Sus primeros trabajos de importancia fueron creados en Milán al servicio del duque Ludovico Sforza. Trabajó a continuación en Roma, Bolonia y Venecia, y pasó sus últimos años en Francia, por invitación del rey Francisco I.
            Frecuentemente descrito como un arquetipo y símbolo del hombre del Renacimiento, genio universal, además de filósofo humanista cuya curiosidad infinita solo puede ser equiparable a su capacidad inventiva,  Leonardo da Vinci es considerado uno de los más grandes pintores de todos los tiempos y, probablemente, la persona con el mayor número de talentos en múltiples disciplinas que jamás ha existido. Como ingeniero e inventor, Leonardo desarrolló ideas muy adelantadas a su tiempo, tales como el helicóptero, el carro de combate, el submarino y el automóvil. Muy pocos de sus proyectos llegaron a construirse (entre ellos la máquina para medir el límite elástico de un cable),  puesto que la mayoría no eran realizables durante esa época.  Como científico, Leonardo da Vinci hizo progresar mucho el conocimiento en las áreas de anatomía, la ingeniería civil, la óptica y la hidrodinámica.
            Su asociación histórica más famosa es la pintura. Dos de sus obras más conocidas, La Gioconda y La Última Cena, han sido copiadas y parodiadas en varias ocasiones, al igual que su dibujo del Hombre de Vitruvio. No obstante, únicamente se conocen alrededor de 20 obras suyas, debido principalmente a sus reiterados (y a veces desastrosos) experimentos con nuevas técnicas y a su inconstancia crónica. Este reducido número de creaciones, junto con sus cuadernos con dibujos, diagramas científicos y reflexiones sobre la naturaleza de la pintura, constituyen un legado para las sucesivas generaciones de artistas.
            </p></div>
            <br>
<hr>
    <h1>Algunas de sus pinturas:</h1>
<br>
<br>
<br>
        
    <div><img style="float: left;" src="leo11.jpg" alt="Pintura de da Vinci"
        width="200" height="200">
        <center><h1>La anunciación</h1></center>
        <p>Pintada entre los años 1472 y 1475, La anunciación es un cuadro al óleo sobre madera que representa los primeros pasos de Leonardo en la pintura, a pesar de que no todos concuerdan con el veredicto.
            El cuadro estuvo "escondido" en un monasterio hasta 1867 cuando fue trasladado a la Galleria degli Uffizi, en Florencia. Fue atribuido inicialmente a Domenico Ghirlandaio, pintor contemporáneo a Leonardo e igualmente aprendiz en el taller de Verrocchio.
            Sin embargo, estudios y análisis posteriores a la obra sustentan la teoría de que esta pintura corresponde a uno de los primeros trabajos de Leonardo. En realidad, habrá sido un trabajo conjunto, pues al analizar el cuadro se percibió que la base y la Virgen habrían sido ejecutados por Verrocchio.
            Leonardo habría pintado el ángel, la alfombra de flores y el paisaje de fondo (el mar y las montañas). Esto queda claro en la precisión científica con que fueron pintadas las alas, así como en el descubrimiento de un dibujo preparatorio para las mangas del ángel atribuido a Leonardo.
            También parece obvia la diferencia entre la delicadeza del ángel y la majestad casi fría de la Virgen. De la misma manera, ya se puede ver en el ángel el uso del sfumato y el claroscuro.
            La escena representa el episodio de Nuevo Testamento en que el ángel visita a la Virgen para decirle que dará a luz al Mesías, hijo de Dios.
            </p></div>
    
        <div><img style="float: right;" src="leo22.jpg" alt="Pintura de da Vinci"
            width="200" height="200">
            <center><h1>Retrato de Ginevra de' Benci</h1></center>
            <p>El retrato de Ginevra de' Benci fue pintado por Leonardo entre 1474 e 1476. Se trata de un óleo sobre madera y recibe ese nombre por la persona retratada, quien es una joven aristócrata de Florencia, famosa y admirada por su inteligencia.
                La cabeza de la joven se encuentra enmarcada por las hojas de un arbusto de enebro, mientras que al fondo puede contemplarse un cuidado paisaje natural.
                La expresión de la joven es severa y altiva, y como la mayoría de las mueres de aquella época, también Ginevra rasuró sus cejas.
                El tamaño de la obra fue recortado, pues originalmente llegaba hasta la cintura de la joven e iba a incluir la representación de sus manos descansando sobre el regazo.
                </p></div>
    
    
        <div><img style="float: left;" src="leo3.jpg" alt="Pintura de da Vinci"
            width="200" height="200">
            <center><h1>La Virgen de las rocas</h1></center>
            <p>La Virgen de las rocas es un óleo sobre madera y fue ejecutado alrededor de 1485. Aquí, las figuras se encuentran frente a una gruta y sus formas están envueltas en una bruma (sfumato) que le confiere a la pintura un carácter casi surrealista.
                Esta composición es un perfecto ejemplo del dominio del claroscuro en la pintura de Leonardo, así como de la técnica del sfumato que él desarrolló.
                El tema de la obra es único y enigmático, pues se representa a San Juan niño adorando a Jesús en presencia de la Virgen y un ángel.
                El significado de esta composición no es de fácil interpretación, pero tal vez el secreto esté en la utilización del gesto (detalle característico y de gran importancia para el artista).
                Cada figura está reproduciendo un gesto diferente, y aquí como otras figuras de otras pinturas, el ángel apunta con su dedo índice, pero en dirección a San Juan.
                Entre tanto, la Virgen lo protege, San Juan está en posición de adoración y el niño Jesús está bendiciendo.
                </p></div>
    
    
        <div><img style="float: right;" src="leo2.jpg" alt="Pintura de da Vinci"
            width="200" height="200">
            <center><h1>La última cena</h1></center>
            <p>La última cena es una pintura mural ejecutada por Leonardo da Vinci entre los años 1493 y 1498. Se encuentra en la pared del comedor del Convento de Santa Maria Delle Grazie en Milán.
                Esta es la obra que le dará notoriedad al artista. Pero lamentablemente, debido al hecho de que Leonardo aplicó una técnica poco ortodoxa que comprometería su durabilidad. Mezcló así las técnicas del temple y el óleo sobre capas de yeso en un enlucido.
                Hoy es necesario hacer un esfuerzo para imaginar todo el esplendor de aquella pintura original, aunque sigue siendo un milagro que aún pueda ser contemplada.
                Tal como lo indica el título, la pintura representa la última cena entre Jesús y los apóstoles. El mesías se encuentra en el centro de la composición y atrás de su cabeza se sitúa una ventana que acentúa el efecto de perspectiva en punto de fuga.
                Por encima de la cabeza de Jesús un frontón hace las veces de aureola. Así, se confirma la importancia de los elementos arquitectónicos como apoyo a las figuras centrales de la composición.
                El momento captado será justo después de que Cristo anuncia la traición de uno de sus discípulos, lo que puede observarse en la gesticulación agitada de las figuras alrededor del Mesías en contraste con su calma y serenidad.
                </p></div>
    
    
        <div><img style="float: left;" src="leo1.jpg" alt="Pintura de da Vinci"
            width="200" height="200">
            <center><h1>La Mona Lisa</h1></center>
            <p>También conocida como La Gioconda, La Mona Lisa es un óleo sobre madera pintado por Leonardo entre 1503 y 1506. La pintura es un retrato de Mona Lisa, la joven esposa de Franceso de Giocondo, según el testimonio de Giorgio Vasari (1511-1574), pintor, arquitecto, y biógrafo de varios artistas del Renacimiento italiano.
                La obra fue adquirida por Francisco I, rey de Francia desde 1515 hasta 1547. En 1911 la pintura fue robada y se recuperó dos años después, en 1913.
                Sobre esta obra hay incontables teorías y especulaciones, pero su verdadera maravilla no está tanto en la llamada sonrisa enigmática, sino en la técnica utilizada.
                En la representación se introduce la perspectiva atmosférica que tanto influirá en el Barroco y en Velázquez. En este retrato, Leonardo colocó la figura en primer plano, pintándola con nitidez, mientras que el paisaje es suavemente difuminado.
                Esto ayuda a construir una sensación de distancia respecto del paisaje, pero de cercanía respecto de la figura femenina retratada. Así, la mirada se pierde en el horizonte. Se trata de una perfecta utilización de las técnicas del sfumato y la perspectiva atmosférica.
                En relación al retrato en sí y a su famosa sonrisa, hay que decir que se encuentra una expresión semejante en otras obras del artista, como Santa Ana y San Juan.
                Sin embargo, la sonrisa puede haber sido apenas la representación fidedigna del modelo o expresión de la influencia de la sonrisa arcaica del arte griego (ver imagen de Koré) que tanto incidió en el Renacimiento.
                </p></div>

<br>
{{> footer}}