{{> header}}
{{> navbar}}
 <h1>Frida Kahlo</h1>
    <div><img style="float: left;" src="fridabio.jpg" alt="Imágen de Frida Kahlo"
        width="300" height="300">
        <p>Magdalena Carmen Frida Kahlo Calderón (Coyoacán, 6 de julio de 1907-
            ibidem, 13 de julio de 1954) fue una pintora mexicana.  Su vida 
            estuvo marcada por el infortunio de contraer poliomielitis y después 
            por un grave accidente en su juventud que la mantuvo postrada en cama 
            durante largos periodos, llegando a someterse hasta a 32 operaciones 
            quirúrgicas.  Llevó una vida poco convencional. Su obra pictórica gira 
            temáticamente en torno a su biografía y a su propio sufrimiento. Fue 
            autora de 150 obras, principalmente autorretratos, en los que proyectó 
            sus dificultades por sobrevivir. La obra de Frida y la de su marido, 
            el pintor Diego Rivera, se influyeron mutuamente. Ambos compartieron 
            el gusto por el arte popular mexicano de raíces indígenas, inspirando 
            a otros pintores mexicanos del periodo posrevolucionario.
            En 1939 expuso sus pinturas en Francia gracias a una invitación de 
            André Breton, quien intentó convencerla de que eran «surrealistas», 
            aunque Kahlo decía que esta tendencia no correspondía con su arte ya 
            que ella no pintaba sueños sino su propia vida. Una de las obras de 
            esta exposición (Autorretrato-El marco, que actualmente se encuentra 
            en el Centro Pompidou) se convirtió en el primer cuadro de un artista 
            mexicano adquirido por el Museo del Louvre. Hasta entonces, Frida 
            Kahlo había pintado solo privadamente y a ella misma le costó admitir 
            que su obra pudiese tener un interés general. Aunque gozó de la 
            admiración de destacados pintores e intelectuales de su época como 
            Pablo Picasso, Vasili Kandinski, André Breton o Marcel Duchamp, su 
            obra alcanzó fama y verdadero reconocimiento internacional después de 
            su muerte, especialmente a finales de los años de 1980 y principios de 
            1990 por coleccionistas como la cantante Madonna.
            </p></div>
            <br>
<hr>
<h1>Algunas de sus pinturas:</h1>

<br>
<br>
<br>

    <div><img style="float: left;" src="frida1.jpg" alt="Obra de Frida Kahlo"
        width="200" height="200">
        <center><h1>Frida y Diego</h1></center>
        <p>Frida trabajó en este retrato durante los primeros años de su matrimonio, los muestra a los dos mirando hacia al frente con expresiones serias pero tomados de la mano, como símbolo del gran amor que se tenían.
            Frida se mantuvo apegada a la realidad en cuanto a la diferencia de sus tamaños: él, grande y ella, delgada y pequeña. Frida está vestida con un típico vestido mexicano, el favorito de Diego y el que empezó a usar casi al mismo tiempo que empezó su relación con él. Diego tiene en su mano derecha una paleta y pincel, lo que demuestra la admiración que ella tenía por el talento artístico de su esposo.
            En este retrato no hay nada que distraiga la atención de los dos personajes en el fondo (como en muchas otras de Frida), dejando claro que, en su relación, no era necesario nada más.
            </p></div>

    <div><img style="float: right;" src="frida2.jpg" alt="Obra de Frida Kahlo"
        width="200" height="200">
        <center><h1>Autorretrato con el pelo suelto</h1></center>
        <p>“Aquí me pinté yo, Frida Kahlo, con mi reflejo en el espejo. Tengo 37 años y es Julio de 1947. En Coyoacán, México, el sitio en donde nací.”
            En esta pintura Frida refuerza su identidad. Pocas veces Frida se pintó con el cabello suelto, pero al hacerlo en este autorretrato se dice que lo hizo porque Diego porque a él le encantaba su cabello suelto y largo.
            </p></div>


    <div><img style="float: left;" src="frida3.jpg" alt="Obra de Frida Kahlo"
        width="200" height="200">
        <center><h1>Autorretrato en la frontera entre México y Estados Unidos</h1></center>
        <p>Frida vivió con Diego en Estados Unidos casi tres años, y extrañó México con todo su ser. Ese son parte de cada uno de los dos países.
            Por un lado su visión de México, donde destacó la naturaleza, la cultura azteca, las creencias y los colores vibrantes. Del lado de Estados Unidos, predomina la tecnología y la industria. Frida tiene en sus manos una bandera con los colores mexicanos, dando a entender cuál es el lugar al que su corazón pertenece.
            </p></div>


    <div><img style="float: right;" src="frida4.jpg" alt="Obra de Frida Kahlo"
        width="200" height="200">
        <center><h1>Autorretrato con collar de espinas</h1></center>
        <p>Frida pintó este cuadro durante la época de crisis de su matrimonio con Diego Rivera. El elemento más importante es el collar de espinas que se hunden en su cuello como señal del dolor que le causa su relación rota con Diego.
            Este collar simboliza la famosa corona de espinas, muy significativa en la tradición cristiana. Del collar cuelga un colibrí negro, muerto, con las alas extendidas, un detalle que Frida comparaba con la forma de sus cejas. El colibrí simboliza el fin de su matrimonio. Sobre sus hombros, un gato negro, símbolo de mal augurio y, finalmente, su mono, que le regaló Diego. El mono luce indiferente, que es como Frida percibía a Diego.
            En esta obra Frida sigue portando el atuendo tehuano y el cabello al estilo tradicional mexicano, que ya se habían convertido en parte de su propia identidad.
            </p></div>


    <div><img style="float: left;" src="frida5.jpg" alt="Obra de Frida Kahlo"
        width="200" height="200">
        <center><h1>Las dos Fridas</h1></center>
        <p>Aquí, Frida plasmó sus sentimientos después de divorciarse de Diego. Pintó a la Frida mexicana, de la cual Diego se enamoró. La otra es Frida europea, la nueva artista independiente y reconocida en todo el mundo, pero también la que su esposo abandonó.
            Sus corazones están expuestos a la vista y se ve como una delgada vena los atraviesa a los dos, uniéndolos. La Frida de vestido victoriano sostiene unas tijeras quirúrgicas que cortan la vena sobre su regazo, permitiendo que la sangre se derrame sobre su vestido blanco.
            Frida siente que se desangra de dolor. Ambas mujeres se sostienen de la mano, como una aceptación de la artista de que ella es la única persona que se comprende, se ama, y que se ayudará a salir adelante.
            </p></div>
            <br>
{{> footer}}