{{> header}}
{{> navbar}}
    <h1>Estos son algunos de mis pintores favoritos</h1>
    <img src="fridaindex.html" alt="Frida" height="200" width="200">
    <img src="" alt="" height="" width="">

<img src="" alt="" height="" width="">
<img src="" alt="" height="" width="">


{{> footer}}