{{> header}}
{{> navbar}}
 <h1>Pablo Picasso</h1>

    <div><img style="float: left;" src="picabio.jpg" alt="Retrato de Picasso"
        width="300" height="300">
        <p>Pablo Ruiz Picasso (Málaga, 25 de octubre de 1881-Mougins, 8 de abril de 1973) fue un pintor y escultor español, creador, junto con Georges Braque, del cubismo.
            Es considerado desde la génesis del siglo XX como uno de los mayores pintores que participaron en muchos movimientos artísticos que se propagaron por el mundo y ejercieron una gran influencia en otros grandes artistas de su tiempo. Sus trabajos están presentes en museos y colecciones de toda Europa y del mundo. Además, abordó otros géneros como el dibujo, el grabado, la ilustración de libros, la escultura, la cerámica y el diseño de escenografía y vestuario para montajes teatrales. También tiene una breve obra literaria.
            En lo político, Picasso se declaraba pacifista y comunista. Fue miembro del Partido Comunista de España y del Partido Comunista Francés hasta su muerte, acaecida el 8 de abril de 1973 a los noventa y un años de edad, en su casa llamada «Notre-Dame-de-Vie» de la localidad francesa de Mougins. Está enterrado en el parque del castillo de Vauvenargues (Bouches-du-Rhone).
            </p></div>
            <br>
            <br><br><br>
            <br><br>
            <br>
        <hr>

<h1>Algunas de sus pinturas:</h1>

<br>
<br>
<br>

    <div><img style="float: left;" src="pica1.jpg" alt="Pintura de Picasso"
        width="200" height="200">
        <center><h1>Las señoritas de Avignon</h1></center>
        <p>El cuadro de 'Las señoritas de Avignon' fue pintado por Picasso en 1907. Actualmente se encuentra en el Museo de Arte Moderno de Nueva York (EE. UU.). El artista malagueño, máximo exponente del cubismo español rompe con 
            los cánones del realismo y reduce la obra a planos angulares, dejando de lado la perspectiva espacial o el fondo. El cuadro se considera el inicio del arte moderno.</p></div>
    
    
        <div><img style="float: right;" src="pica2.jpg" alt="Pintura de Picasso"
            width="200" height="200">
            <center><h1>Guernica</h1></center>
            <p>Picasso nunca bautizaba sus creaciones nada más pintarlas, sino más bien mucho tiempo después (varios años). En este caso, sin embargo, el cuadro, que fue pintado en apenas dos meses del año 1937, nos encontramos una alusión al bombardeo de Guernica durante la Guerra Civil Española. En este cuadro meramente simbólico, Picasso empleó únicamente los colores blanco y negro, y un gran abanico de grises. El Guernica, ese grito pictórico contra la represión y la violencia, se encuentra en el Museo Nacional Centro de Arte Reina Sofía en Madrid (España).</p></div>
    
    
        <div><img style="float: left;" src="pica3.jpg" alt="Pintura de Picasso"
            width="200" height="200">
            <center><h1>Los tres músicos</h1></center>
            <p>'Los tres músicos' o 'Músicos con máscaras' fue pintado por Picasso en Fontainebleau, Francia, en 1921 y pone punto y final al período del Cubismo Sintético para comenzar con el cubismo analítico, esto es, una pintura mucho más compleja y aún más abstracta. Hizo dos versiones de este cuadro y ambas se consideran dos obras maestras de la historia del arte. Se encuentran en el Museo de Arte Moderno de Nueva York (EE.UU.).</p></div>
    
    
        <div><img style="float: right;" src="pica4.jpg" alt="Pintura de Picasso"
            width="200" height="200">
            <center><h1>Retrato de Dora Maar</h1></center>
            <p>Pintado en 1937, este Retrato de Dora Maar o Henriette Theodora Markovitch, representa a la musa de Picasso. Esta artista plástica, aparte de ser conocida por su relación con el artista malagueño, fue muy prolífica. Sin duda con una personalidad muy compleja, callada, orgullosa, inteligente y curiosa, Dora Maar nos dejó una conocida serie de fotografías del Guernica. El 'Retrato de Dora Maar' se encuentra en el Museo Nacional Centro de Arte Reina Sofía en Madrid (España).</p></div>


        <div><img style="float: left;" src="pica5-..jpg" alt="Pintura de Picasso"
            width="200" height="200">
            <center><h1>Mujer ante el espejo</h1></center>
            <p>Pintado en 1932, este cuadro retrata a una mujer de una forma muy abstracta, utilizando rombos, círculos y triángulos para crearlo. La modelo del cuadro es Marie-Thérèse Walter (amante de Picasso). La obra de la 'Mujer ante el espejo' se encuentra en el Museo de Arte Moderno -MoMA- de Nueva York (EE.UU.).</p></div>
<br><br><br><br>
{{> footer}