
{{> header}}
{{> navbar}}
<h1><b>Vincent van Gogh</b></h1>

    <div><img style="float: left;" src="vanbio.jpg" alt=""
        width="300" height="300">
        <p>Nació el 30 de marzo de 1853. Hijo de un austero y humilde pastor 
            protestante neerlandés llamado Theodorus y de su mujer Anna Cornelia, 
            Vincent recibió el mismo nombre que le habían puesto a un hermano que 
            nació muerto exactamente un año antes. El 1 de mayo de 1857 nació su 
            hermano Theo y ambos tuvieron cuatro hermanos más: Cornelius Vincent, 
            Elisabetha Huberta, Anna Cornelia y Wilhelmina Jacoba.
            Durante la infancia acudió a la escuela de manera discontinua e 
            irregular, pues sus padres le enviaron a diferentes internados. El 
            primero de ellos en Zevenbergen en 1864, donde estudió francés y 
            alemán.​ Dos años después se matriculó en la escuela secundaria HBS Koning Willem II (Tilburg) viviendo con la familia Hannik en la calle Sint Annaplein 18-19 y permaneció allí hasta que dejó los estudios de manera definitiva a los 15 años.7​ Por entonces comenzó su afición por la pintura, aunque durante el resto de su vida se enorgulleció de ser autodidacta.
            Vincent Willem van Gogh Zundert, 30 de marzo de 1853-Auvers-sur-Oise, 
            29 de julio de 1890) fue un pintor neerlandés, uno de los principales 
            exponentes del postimpresionismo.
            Pintó unos 900 cuadros (entre ellos 43 autorretratos y 148 acuarelas) 
            y realizó más de 1600 dibujos. Una figura central en su vida fue su 
            hermano menor Theo, marchante de arte en París, quien le prestó apoyo 
            financiero de manera continua y desinteresada. La gran amistad entre 
            ellos está documentada en las numerosas cartas que se intercambiaron 
            desde agosto de 1872. De las 800 cartas que se conservan del pintor, 
            unas 650 fueron para Theo; las otras son correspondencia con amigos y 
            familiares.
            Van Gogh fue esencialmente autodidacta. Desde joven tuvo inclinación 
            hacia el dibujo. Su primer trabajo fue en una galería de arte. 
            Más tarde se convirtió en pastor protestante y en 1879, a la edad 
            de 26 años, se marchó como misionero a una región minera de Bélgica, 
            donde comenzó a dibujar a la gente de la comunidad local. En 1885 
            pintó su primera gran obra, Los comedores de patatas. En ese momento 
            su paleta se componía principalmente de tonos sombríos y terrosos. 
            La luz y la preferencia por los colores vivos por la que es conocido 
            surgió posteriormente, cuando se trasladó al sur de Francia, 
            consiguiendo su plenitud durante su estancia en Arlés en 1888.
            La calidad de su obra fue reconocida solo después de su muerte, en 
            una exposición retrospectiva en 1890, considerándose en la actualidad 
            uno de los grandes maestros de la historia de la pintura. Influyó 
            grandemente en el arte del siglo XX, especialmente entre los 
            expresionistas alemanes y los fauvistas como Matisse, Derain, 
            Vlaminck y Kees Van Dongen.​ Falleció a los 37 años por una 
            herida de bala de pistola; aún no se sabe con seguridad si fue 
            un suicidio o un homicidio involuntario. A pesar de que existe 
            una tendencia general a especular que su enfermedad mental influyese 
            en su pintura, el crítico de arte Robert Hughes cree que las obras 
            del artista están ejecutadas bajo un completo control; de hecho, el 
            pintor jamás trabajó en los periodos en los que estaba enfermo.
            </p></div>

            <hr>

<h1>Algunas de sus pinturas:</h1>

<br>
<br>
<br>

    <div><img style="float: left;" src="vannocheestrellada.jpg" alt="Cuadro de Van Gogh"
        width="200" height="200">
        <center><h1>La Noche Estrellada:</h1></center>
        <p>El cuadro La Noche Estrellada de Vincent Van Gogh es una de las obras más famosas del mundo, apreciada por décadas por sus formas sinuosas y azules profundos, para decorar es un gran valor.
            Origen del Cuadro
            Pintado en 1889, la obra trata de las vistas nocturnas que tenía Van Gogh desde su habitación en el sanatorio mental de Saint-Remy, donde pasó los últimos años de su vida.
            </p></div>
<br>
<br>
<br>
<br>
<br>
    <div><img style="float: left;" src="vangirasoles.jpg" alt="Cuadro de Van Gogh"
        width="200" height="200">
        <center><h1>Los girasoles:</h1></center>
        <p>Las pinturas muestran girasoles en todas las etapas de su vida, desde plenamente en flor hasta que se marchitan. En su día fueron innovadoras en el uso de todo el espectro del color amarillo, que Van Gogh empleó en una gama cromática conjunta con naranjas, ocres, marrones y beiges. El color está aplicado con pinceladas fuertes, agresivas, en pequeños toques salteados, destacando la plasticidad de la pintura, que crea un fino relieve en la tela, para dar volumen a los girasoles. Para resaltar el amarillo y el naranja, empleó verde y azul cielo en los contornos, creando un efecto de suave intensidad lumínica.8​
            Para Van Gogh el amarillo tenía un especial simbolismo, era el color que representaba su mundo interior, hecho que se demuestra porque mandó pintar de ese color su casa en Arlés, donde por primera vez tenía algo propio, un espacio personal, que pensaba convertir en una comunidad de artistas dedicados únicamente a la creación artística.
            </p></div>

    <div><img style="float: left;" src="vanrodano.jpg" alt="Cuadro de Van Gogh"
        width="200" height="200">
        <center><h1>La noche estrellada sobre el Ródano:</h1></center>
        <p>“La noche estrellada” evoca la imagen de una de las pinturas mas conocidas de van Gogh, un árbol de cipreses frente un fondo azul en la media noche, donde aparecen espirales y torcidas estrellas. Sin embargo, ésta no es la noche estrellada que van Gogh creó. En 1888, van Gogh pintó “La noche estrellada sobre el Ródano.”
            Solo como ubicación, Ródano es un río que comienza en los montes Suizos. Desemboca en el mar Mediterráneo y atraviesa además  el sur de Francia, antes de transformarse en dos ríos, el gran Ródano, y el pequeño Ródano. Era un río importante para los habitantes de Arles, ya que funcionaba como un medio para el comercio. Y debido al interés de van Gogh por pintar la naturaleza, era de esperarse que también pintara el río.
            Noche estrellada sobre el Ródano
            Noche estrellada sobre el Ródano, Vincent Van Gogh
            La noche estrellada sobre Ródano es también una de sus obras mas famosas, aunque se confunde muchas veces con la ya mencionada Noche estrellada. No obstante el estilo de Van Gogh es inconfundible. El único problema es el nombre. Es un óleo sobre tela de 61 x 45 cm. Finalizada alrededor de Septiembre de 1888, así como la carta que envió a Theo con un boceto de la obra. Actualmente se encuentra en el Musée d’Orsay en París.
            Esta obra fue parte de los estudios de Van Gogh sobre la noche, durante un tiempo en que estuvo obsesionado con ésta.
            </p></div>

    <div><img style="float: left;" src="vandormitorio.jpg" alt="Cuadro de Van Gogh"
        width="200" height="200">
        <center><h1>La habitación de Van Gogh en Arles:</h1></center>
        <p>Sobre el tema de su dormitorio, Van Gogh realiza tres cuadros casi idénticos. El primero, conservado en el museo Van Gogh de Ámsterdam, fue ejecutado en octubre de 1888 y se deterioró en una inundación ocurrida durante la hospitalización del pintor en Arles. Cerca de un año después, éste emprende la realización de dos copias: una, de mismas dimensiones, se conserva hoy en el Art Institute de Chicago; la otra, la del museo de Orsay, realizada para su familia en Holanda, es de tamaño más reducido.
            En una carta dirigida a su hermano Théo, Vincent explica lo que le incita a pintar una obra semejante: quiere expresar la tranquilidad y resaltar la sencillez de su dormitorio mediante el simbolismo de los colores. Para ello, describe: "los muros lila pálido, el suelo de un rojo gastado y apagado, las sillas y la cama amarillo de cromo, las almohadas y la sábana verde limón muy pálido, la manta roja sangre, la mesa de aseo anaranjada, la palangana azul, la ventana verde", afirmando: "Había querido expresar un reposo absoluto mediante todos estos tonos diversos".
            Mediante estos diferentes tonos, Van Gogh hace referencia a Japón, a sus crespones y a sus estampas. Se justifica de este modo: "Los Japoneses han vivido en interiores muy sencillos y que grandes artistas han vivido en este país."
            Pese a que, para los japoneses, una habitación decorada con cuadros y muebles no parezca realmente sencilla, para Vincent es "un dormitorio vacío con una cama de madera y dos sillas." Alcanza a pesar de todo una cierta austeridad, por su composición constituida casi únicamente de líneas rectas y por la combinación rigurosa de superficies de color que compensan la instabilidad de la perspectiva.
            </p></div>

    <div><img style="float: left;" src="vanterraza.jpg" alt="Cuadro de Van Gogh"
        width="200" height="200">
        <center><h1>Terraza de Café por la noche:</h1></center>
        <p>Vincent pintó este café de Arlés, situado en la Place du Forum, en el centro de la ciudad. Pero lo pintó a su manera, claro… Exagerando la cosa. Sobre todo enfatizando el contrate entre el azul frío de la noche y el amarillo cálido de la lámpara de la terraza del local.
            Para él el color lo era todo. Y los colores eran también símbolos. El amarillo por ejemplo, es lógicamente el color del sol, de la felicidad. Y esa era una época muy alegre para el artista. Acababa de llegar a Arlés y ese lugar bañado por el sol le parecía aún mejor que su amado Japón. Aunque poco duraría esa felicidad. La locura estaba a la vuelta de la esquina…
            </p></div>

<br>
{{> footer}}